* {
  font-family: "Plus Jakarta Sans", sans-serif;
}
html {
  scroll-snap-type: y mandatory;
}
body {
  margin: 0;
  padding: 0;
  background: #1e1e1e;
  overflow-x: hidden;
  width: 100svw;
}
header {
  scroll-snap-align: start;
  height: 100svh;
}
.background-light {
  filter: blur(180px);
}
.background-light img {
  height: 500px;
  position: absolute;
}
.background-light img:nth-child(1) {
  left: 10svw;
  top: 30svh;
}
.background-light img:nth-child(2) {
  filter: brightness(70%);
  left: 55svw;
  top: 30svh;
}
.background-light img:nth-child(3) {
  left: 30svw;
  top: 5svh;
}
.header-content {
  position: absolute;
  padding-top: 1rem;
  width: 100%;
  background: transparent;
}
.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.logo {
  width: 30%;
  height: 100%;
  display: flex;
  justify-content: center;
}
.logo img {
  height: 2rem;
}
.navbar-list {
  width: 70%;
}
.navbar-list ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 2rem;
  justify-content: end;
  align-items: center;
  padding-right: 2rem;
  color: white;
}
.aboutme {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 20svh;
  color: white;
}
.aboutme-text {
  display: flex;
  flex-direction: column;
  width: 49%;
}
.aboutme-text h3 {
  font-size: 2rem;
  background: -moz-linear-gradient(
    124deg,
    rgba(162, 89, 255, 1) 0%,
    rgba(255, 98, 80, 1) 55%
  );
  background: -webkit-linear-gradient(
    124deg,
    rgba(162, 89, 255, 1) 0%,
    rgba(255, 98, 80, 1) 55%
  );
  background: linear-gradient(
    124deg,
    rgba(162, 89, 255, 1) 0%,
    rgba(255, 98, 80, 1) 55%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.aboutme-text * {
  margin: 0.5rem;
}
.aboutme-img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.aboutme-text button {
  --b: 3px; /* border width*/
  --r: 50px; /* the radius */
  height: 3rem;
  width: 15rem;
  color: #313149;
  padding: calc(var(--b) + 5px);
  display: inline-block;
  margin: 10px 0;
  position: relative;
  z-index: 0;
  background: transparent;
  border: none;
  color: white;
  font-weight: bold;
  font-size: 0.8rem;
  border-radius: var(--r);
}
.aboutme-text button::before {
  content: "";
  position: absolute;
  z-index: -1;
  inset: 0;
  padding: var(--b);
  border-radius: var(--r);
  background: var(--c, linear-gradient(-80deg, #a259ff, #ff6250));
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}
.aboutme-text button:hover {
  background: rgba(255, 255, 255, 0.1);
}
main {
  scroll-snap-align: start;
  height: 100svh;
}
footer {
  scroll-snap-align: start;
  position: relative;
  width: 100%;
  height: 100svh;
  background: #1e1e1e;
  display: flex;
  flex-direction: row;
}
.footer-section {
  padding: 0 1rem;
}
.footer-left {
  width: 40%;
  color: white;
}
.footer-left h2 {
  color: #f7b141;
}
.footer-right {
  padding: 1rem;
  width: 60%;
}
.footer-right form {
  display: flex;
  flex-direction: column;
  justify-content: center;

  gap: 0.5rem;
}
.footer-right input {
  height: 2rem;
  width: 90%;
}
.footer-right #message {
  height: 6rem;
  width: 90%;
}
.btn-primary {
  width: fit-content;
  background: #155a93;
  border: none;
  border-radius: 2px;
  padding: 0.5rem 1.5rem;
  color: white;
  text-align: center;
}
